<html>
  <head>
    <title>Welcome to my First Sinatra app</title>
  </head>

  <body>
    <a href="/">Home Page</a> |
    <a href="/contact">Contact Me</a> |
    <a href="/survey">Survey</a>
    <hr>
    <%= yield %>
  </body>
</html>