<h1> Take a Personality Survey</h1>

<form action="/survey" method="post">

  <h2> You work best: </h2>
  <input type="radio" name="work_best" value="with_deadlines" checked /> With deadlines
  <br>
  <input type="radio" name="work_best" value="without_deadlines" /> Without deadlines

  <h2> You consider yourself more: </h2>
  <input type="radio" name="consider_yourself" value="compassionate" checked /> Compassionate
  <br>
  <input type="radio" name="consider_yourself" value="rational" /> Rational

  <h2> You are more interested in: </h2>
  <input type="radio" name="interested_in" value="ideas" checked /> Ideas
  <br>
  <input type="radio" name="interested_in" value="facts" /> Facts

  <br>
  <br>
  <input type="submit" value="Show My Personality" />
</form>

