<h1>Welcome to my awesome app</h1>


<form method="post" action="/contact">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name" placeholder="e.g. John" />
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name" placeholder="e.g. Smith" />
  <br>
  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="e.g. john@abc.com" />
  <br>
  <label for="phone_number">Phone Number</label>
  <input type="text" id="phone_number" name="phone_number" placeholder="e.g. 778.995.4545" />
  <br>

  <input type="submit" value="Contact Us!" />

</form>